<div class="main-component-title"><h1><span style="font-size: 65px; color: #00ADB5">A</span>utomatyczna <span style="font-size: 65px; color: #00ADB5">D</span>eskrypcja <span style="font-size: 65px; color: #00ADB5">O</span>brazu</h1></div>


<section class="section-grid">

  <div class="wrapper">
    <div class="wrappers-titles"><span class="steps">KROK</span> <span class="numbers">1</span></div>
    <div class="upload-wrapper" appDnd (files)="filesDropped($event)" >
      <input name="file" id="file0" class="inputFile" appDnd (files)="handleFileInput($event)" type="file">
      <label *ngIf="displayButton" class="button" for="file0">Upuść lub <br> wybierz plik</label>
      <div *ngIf="files" class="centerImage">
        <img *ngIf="files" [src]="files.url" class="imageToDisplay">
      </div>
    </div>

    <div class="bottom-wrap">
      <input name="file" id="file1" class="inputFile" appDnd (files)="handleFileInput($event)" type="file">
      <label class="button-upload-file" for="file1">Wybierz plik</label>
      <div class="wrappers-titles"><span class="steps">KROK</span> <span class="numbers">2</span></div>
      <div (click)="upload()"  class="button-upload">Prześlij</div>
    </div>

  </div>
  <div class="wrapper-right">
    <div class="wrappers-titles"><span class="steps">KROK</span> <span class="numbers">3</span></div>
    <div class="upload-wrapper" style="background: linear-gradient(0deg, rgba(0,173,181,0) 0%, rgba(0,173,181,0.4009978991596639) 100%);">
      <div *ngIf="isSuccess && !error && !isFinish" class="button-info">Tutaj zostanie <br> wyświetlony opis</div>
      <div *ngIf="isFinish && !error" class="loading">Przetwarzanie</div>
      <div *ngIf="isFinish && !error" class="animation-wrap">
        <div class="blob0"></div>
        <div class="blob1"></div>
        <div class="blob2"></div>
        <div class="blob3"></div>
        <div class="blob4"></div>
        <div class="blob5"></div>
      </div>
      <div *ngIf="isSuccess && error" class="button-info-error">BŁĄD: <br> {{ message }}</div>
      <table *ngIf="!isSuccess && error" class="table">
        <thead>
        <tr>
          <th scope="col">
            <h3>Obiekt:</h3>
          </th>
          <th scope="col">
            <h3>Trafność:</h3>
          </th>
        </tr>
        </thead>
        <tbody *ngFor="let item of responseBody| keyvalue">
        <tr>
          <td>{{item.key}}</td>
          <td>{{item.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
