@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color: #303841;
  font-family: Playfair Display, serif;
  color: white;
}

html, body{min-height:100%; overflow: auto;}
body{height:100vh;}

.full-height-grow{
  display: flex;
  flex-direction: column;
}

.container{
  marign: 0 auto;
  padding: 0 40px;
}

li a{
  cursor: pointer;
}

.button{
  margin: auto;
  width: 40%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FF5722;
  border-radius: 39px;
  text-align: center;
}

html, body { height: 100%; }

