<app-navigation></app-navigation>
<div class="main-component-title"><h1><span style="font-size: 65px; color: #00ADB5">A</span>utomatyczna <span style="font-size: 65px; color: #00ADB5">D</span>eskrypcja <span style="font-size: 65px; color: #00ADB5">O</span>brazu</h1></div>
<section class="section-grid">

    <div class="upload-wrapper" style="background: linear-gradient(180deg, rgba(0,173,181,0) 0%, rgba(0,173,181,0.4009978991596639) 100%);">
      <div class="button">testtest</div>
    </div>
    <div class="response-wrapper" style="background: linear-gradient(0deg, rgba(0,173,181,0) 0%, rgba(0,173,181,0.4009978991596639) 100%);">
      <div class="button">testtest</div>

  </div>
</section>
