.main-component-title h1{
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.wrapper{
  display: grid;
  height: 70vh;
}
.upload-wrapper{
  border: 1px solid #FF5722;
  width: 100%;
  height: inherit;
  display: grid;
}

.home-main-section{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.response-wrapper{
  border: 1px solid #FF5722;
  width: 100%;
  height: 609px;
  display: grid;
}

.wrappers-titles{
  text-align: center;
  align-self: center;
}

.steps{
  font-size: 34px;
  font-weight: bold;
}

.numbers{
  color: #2BD5FB;
  font-size: 60px;
  font-weight: bold;
}

.section-grid{
  margin: 15px;
  display: grid;
  justify-content: center;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit,minmax(300px,620px));
}

.button{
  margin: auto;
  width: 40%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FF5722;
  border-radius: 39px;
  text-align: center;
}

.button-upload{
  width: 40%;
  margin:10px;
  padding-bottom: 12px;
  background-color: #FF5722;
  border-radius: 39px;
  text-align: center;
}

.bottom-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {

}

