<app-navigation></app-navigation>
<div class="main-component-title"><h1><span style="font-size: 65px; color: #00ADB5">A</span>utomatyczna <span style="font-size: 65px; color: #00ADB5">D</span>eskrypcja <span style="font-size: 65px; color: #00ADB5">O</span>brazu</h1></div>


<section class="section-grid">

  <div class="wrapper">
    <div class="wrappers-titles"><span class="steps">KROK</span> <span class="numbers">1</span></div>
    <div class="upload-wrapper" style="background: linear-gradient(180deg, rgba(0,173,181,0) 0%, rgba(0,173,181,0.4009978991596639) 100%);">
      <div class="button">Upuść lub <br> wybierz plik</div>
    </div>
    <div class="bottom-wrap">
      <div class="wrappers-titles"><span class="steps">KROK</span> <span class="numbers">2</span></div>
      <div class="button-upload">Prześlij</div>
    </div>

  </div>
  <div class="wrapper">
    <div class="wrappers-titles"><span class="steps">KROK</span> <span class="numbers">3</span></div>
    <div class="upload-wrapper" style="background: linear-gradient(0deg, rgba(0,173,181,0) 0%, rgba(0,173,181,0.4009978991596639) 100%);">
      <div class="button">Tutaj zostanie <br> wyświetlony opis</div>
    </div>
  </div>

</section>


