
::ng-deep input.mat-input-element {
  color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #FF5722 !important;
}

::ng-deep .mat-form-field-underline{
  background-color: white !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #FF5722 !important;
}

img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

mat-icon:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.pagination /deep/ .ngx-pagination .current {
  color: rgba(0,173,181,1)!important;
  background-color: transparent!important;
}

.pagination /deep/ .ngx-pagination  {
  padding: 0!important;
}

.pagination  /deep/ .ngx-pagination a, .ngx-pagination button{
  color: white!important;
}

.pagination{
  padding-bottom: 50px;
  text-align: center;
  align-content: center;
  font-size: 1.8rem;
}

.pagination /deep/ .ngx-pagination .ng-star-inserted:hover {
  color: #FF5722!important;
  background-color: transparent!important;
}

.wrapper{
  display: grid;
  height: inherit;
}
.upload-wrapper{
  border: 1px solid #FF5722;
  width: 100%;
  min-height: 60vh;
  margin-top: auto;
  display: grid;
  background: linear-gradient(180deg, rgba(0,173,181,0) 0%, rgba(0,173,181,0.4009978991596639) 100%);
}

.full-width-highlight{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 5px 4px 6px 2px rgba(0,0,0,0.74);
  box-shadow: 5px 4px 6px 2px rgba(0,0,0,0.74);
}

.imageToDisplay{
  height: auto;
  width: 100%;
  max-width: inherit;
  max-height: 60vh;

}

.centerImage{
  margin-top: auto;
  margin-bottom: auto;
}

.home-main-section{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.response-wrapper{
  border: 1px solid #FF5722;
  width: 100%;
  height: 609px;
  display: grid;
}

.wrappers-titles{
  text-align: center;
  align-self: center;
  word-break: break-all;
}

.steps{
  font-size: 34px;
  font-weight: bold;
}

.numbers{
  color: #2BD5FB;
  font-size: 60px;
  font-weight: bold;
}

.section-grid{
  margin: 15px;
  display: grid;
  justify-content: center;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit,minmax(240px,500px));
}

.button{
  margin: auto;
  width: 40%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FF5722;
  border-radius: 39px;
  text-align: center;
}

.inputFile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button-info{
  margin: auto;
  width: 40%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FF5722;
  border-radius: 39px;
  text-align: center;
}

.button:hover{
  cursor: pointer;
  opacity: 0.86;
}

.button-upload{
  padding-top: 5px;
  height: 31px;
  width: 20%;
  margin-top: 17px;
  background-color: #FF5722;
  border-radius: 39px;
  text-align: center;
}

.button-upload:hover{
  cursor: pointer;
  opacity: 0.86;
}

.bottom-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-button{
  margin-left:auto;
  margin-top: auto;
  margin-bottom: auto;
}

td {
  background-color: #34626c;
  height: 40px;
  text-align: center;
}

/* .mat-form-field {
  height: 50px;
} */

th {
  background-color: #204047;
  height: 10px;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .upload-wrapper{
    height: 50vh;
  }
}

