.main-component-title h1{
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.wrapper{
  display: grid;
  height: 60vh;
}

.section-grid{
  margin: 15px;
  display: grid;
  justify-content: center;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit,minmax(300px,500px));
}

.input-width{
  width: 70%;
}

.upload-wrapper{
  width: 100%;
  height: 60vh;
  border: 1px solid #FF5722;
  display: grid;
  background: rgba(255,255,255, 0.15);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.button:hover{
  cursor: pointer;
}

.form {
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: inherit;
}
